.admin__panel {
  display: flex;
  .sidebar {
    width: 350px;
    height: 100%;
    background: #0071cc;
    padding: 30px;
    color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    a {
      width: 250px;
      margin: 1vh 0;
    }
    .to__home {
      margin-bottom: 2vh;
    }
  }
  .admin__inform {
    flex: 1;
    height: 100%;
    .information {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
    .details {
      display: flex;
      justify-content: space-between;
    }
  }
  .create__product {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
      display: flex;
      flex-direction: column;
      width: 500px;
      input {
        margin: 1vh 0;
      }
    }
  }
}

.deliveryInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
  .detail {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    gap: 15px;
    p {
      margin: 0;
      padding: 0;
    }
  }
}
