.product__info__container {
  margin-top: 10vh;
  margin-bottom: 15vh;
  .product__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .additional__images {
    width: 100px;
    display: flex;
    flex-direction: column;
    .div {
      height: 100px;
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      border: 1px solid #ddd;
      border-collapse: collapse;
    }
    img {
      max-height: 100px;
      max-width: 100px;
      padding: 10px;
      cursor: pointer;
    }
  }
  .main__image {
    img {
      max-height: 400px;
      max-width: 300px;
    }
  }
  .product__info__section {
    .card__rating {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
      svg {
        font-size: 18px;
      }
      .card__rate svg {
        color: #218dff;
      }
      span {
        color: #b9b9b9;
      }
    }
    .card__price {
      del {
        color: rgb(247, 84, 84);
      }
      p {
        font-size: 25px;
        color: #de663b;
      }
    }
    .brend {
      display: flex;
      gap: 10px;
      margin-top: 10px;
      font-weight: 500;
    }
    .status {
      display: flex;
      gap: 10px;
      span {
        font-weight: 500;
        color: #34d374;
      }
    }
    .share {
      display: flex;
      align-items: center;
      gap: 10px;
      p {
        margin: 0;
        padding: 0;
      }
      span {
        display: flex;
        gap: 10px;
        svg {
          cursor: pointer;
          font-size: 30px;
        }
        svg:first-child {
          color: #3b5998;
        }
        svg:nth-child(2) {
          color: #0088cc;
        }
        svg:nth-child(3) {
          color: #36d8ff;
        }
        svg:last-child {
          color: #25d366;
        }
      }
    }
  }
  .product__info__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5vh;
  }
  .title {
    max-width: 450px;
  }
}

@media screen and (max-width: 600px) {
  .product__info {
    flex-direction: column;
    .additional__images {
      width: 100%;
    }
  }
}
@media screen and (max-width: 440px) {
  .product__info__container {
    overflow: hidden;
    margin-top: 5vh;
    .additional__images {
      flex-direction: row;
      max-width: 300px;
      margin-bottom: 2vh;
      .div {
        height: 70px;
        width: 70px;
        img {
          max-width: 70px;
          max-height: 70px;
        }
      }
    }
  }
}
